{% extends 'parish\pages\member\member_list.html' %} 
    {% block header %}
        <div class="col-sm-8"><h2>Member <b>Detail</b></h2></div>
    {% endblock header %}

    {% block forloop %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.age }}</td>
            <td>{{ object.gender }}</td>
            <td>{{ object.marital_status }}</td>
            <td>{{ object.is_baptized }}</td>
            <td>{{ object.is_contributed }}</td>
            <td>
                <a
                    type="button"
                    class="btn btn-sm btn-info"
                    href="{% url 'member-update' object.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a
                    type="button"
                    class="btn btn-sm btn-danger"
                    href="{% url 'member-delete' object.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endblock forloop %}