{% include 'parish/base.html' %}
{% block content %}
    <div class="container">
        
        
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Members <b>Details</b></h2></div>
                <div class="col-sm-4 ">
                    <button type="button" class="btn btn-sm btn-primary my-2 float-right"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Marital Status</th>
                    <th scope="col">Baptized</th>
                    <th scope="col">Contributed</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>32</td>
                    <td>Male</td>
                    <td>Single</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>
                        <a
                            type="button"
                            class="btn btn-sm btn-info"
                            href="#">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            class="btn btn-sm btn-danger"
                            href="#">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Lui</td>
                    <td>24</td>
                    <td>Male</td>
                    <td>Single</td>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>
                        
                        <a
                            type="button"
                            class="btn btn-sm btn-info"
                            href="#">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            class="btn btn-sm btn-danger"
                            href="#">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}