{% include 'parish/base.html' %}
{% block content %}
    <div class="container">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Contributions <b>Details</b></h2></div>
                <div class="col-sm-4 ">
                    <button type="button" class="btn btn-sm btn-primary my-2 float-right"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">Member</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Type</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>10000</td>
                    <td>Thanksgiving</td>
                    <td>Above</td>
                    <td>
                        <a
                            type="button"
                            class="btn btn-sm btn-info"
                            href="#">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            class="btn btn-sm btn-danger"
                            href="#">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>10000</td>
                    <td>Thanksgiving</td>
                    <td>Above</td>
                    <td>
                        
                        <a
                            type="button"
                            class="btn btn-sm btn-info"
                            href="#">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            class="btn btn-sm btn-danger"
                            href="#">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content%}
