{% extends 'parish\pages\contribution\contribution_list.html' %} 
    {% block header %}
        <div class="col-sm-8"><h2>Contributions <b>Detail</b></h2></div>
    {% endblock header %}

    
    {% block forloop %}
        <tr>
            <td>{{ object.member }}</td>
            <td>{{ object.amount }}</td>
            <td>{{ object.type }}</td>
            <td>{{ object.rank}}</td>
            <td>
            
                <a
                    type="button"
                    class="btn btn-sm btn-info"
                    href="{% url 'contribution-update' object.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a
                    type="button"
                    class="btn btn-sm btn-danger"
                    href="{% url 'contribution-delete' object.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endblock forloop %}
