{% extends 'parish\pages\community\community_list.html' %} 
    {% block header %}
        <div class="col-sm-8"><h2>Community <b>Detail</b></h2></div>
    {% endblock header %}
    
    {% block forloop %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.member }}</td>
            <td>{{ object.role }}</td>
            <td>
                <a
                    type="button"
                    class="btn btn-sm btn-info"
                    href="{% url 'community-update' object.id %}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a
                    type="button"
                    class="btn btn-sm btn-danger"
                    href="{% url 'community-delete' object.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                
            </td>
        </tr>
    {% endblock forloop %}