{% include 'parish/base.html' %}
{% block content %}
    <div class="container">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Sub Parish <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <a 
                    type="button" 
                    href="{% url 'subparish-create' %}"
                    class="btn btn-sm btn-primary my-2 float-right">
                    <i class="fa fa-plus"></i>
                    Add New
                </a>
                </div>
            </div>
        </div>
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                
                {% for object in object_list  %} 
                    <tr>
                        <td>{{ object.name }}</td>
                        <td>{{ object.location }}</td>
                        <td>
                            <a
                                type="button"
                                class="btn btn-sm btn-secondary"
                                href="{% url 'subparish-detail' object.id %}">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                            <a
                                type="button"
                                class="btn btn-sm btn-info"
                                href="{% url 'subparish-update' object.id %} ">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a
                                type="button"
                                class="btn btn-sm btn-danger"
                                href="{% url 'subparish-delete' object.id %} ">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}
