{% extends 'parish\pages\priest\subparish_list.html' %} 
    
    {% block header %}
        <div class="col-sm-8"><h2>Sub Parish <b>Detail</b></h2></div>
    {% endblock header %}
    
    {% block forloop %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.location }}</td>
            <td>
                <a
                    type="button"
                    class="btn btn-sm btn-info"
                    href="{% url 'subparish-update' object.id %} ">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a
                    type="button"
                    class="btn btn-sm btn-danger"
                    href="{% url 'subparish-delete' object.id %} ">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endblock forloop %}
