    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                
                <div class="card-body">
                <h5 class="card-title">Priests</h5>
                <p class="card-text">The Parish consists of several priests who serve in accordance to Bishop's instructions.</p>
                <a href="{% url 'priest-list' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                
                <div class="card-body">
                <h5 class="card-title">Sub Parishes</h5>
                <p class="card-text">The Parish consists of five sub parishes that help to spread the Gospel of the Lord to members that stay far from main parish.</p>
                <a href="{% url 'subparish-list' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                
                <div class="card-body">
                <h5 class="card-title">Committee</h5>
                <p class="card-text">There are several committee that helps in various tasks in the parish led by members of the church.</p>
                <a href="{% url 'committee-list' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                
                <div class="card-body">
                <h5 class="card-title">Communities</h5>
                <p class="card-text">There are several communities that consists of family members of the church.</p>
                <a href="{% url 'community-list' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <p class="card-text">The parish consists of Christian members that summon in the church form Holy Mass.</p>
                    <a href="{% url 'member-list' %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
                <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">Contributors</h5>
                    <p class="card-text">There are various contributions that are contributed by the members so as to build the church.</p>
                    <a href="{% url 'contribution-list' %}" class="btn btn-primary">View Details</a>
                </div>
                </div>
        </div>
    </div>
